@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

body{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin: 0;

}

.photo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    
}
#alpaca{
    min-width: max(40vw, 67vh);
    min-height:100vh;
    
    
    

    
}

.logo{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    top: 50vh;
    height: 20vh;
    min-height: 150px;
    width: 40vw;
    background-color: rgba(0,0,0,.5); 
    font-family: Norse, Raleway, Arial, Helvetica, sans-serif;
    font-size: max(120px, calc(20vh));
    color:white;
    overflow: hidden;
}

#odin{
    max-height: 100%;
}

.credit{
    font-family: Raleway;
    font-weight: bold;
    position:absolute;
    color: white;
    bottom: 3vh;
}

a{  
    color: white;
    text-decoration-color: white;
}

.sign_up a{
    color: black;
    text-decoration-color: black;
}
.sign_up{
    width: 60vw;
    display:flex;
    flex-direction:column;
    justify-content: top;
    padding-top: 2vw;
    overflow: hidden;
    background-color: whitesmoke;
    font-family: Raleway;
    font-weight: bold;
    font-size: calc(14px + 0.5vw);
    
}

.inspiration{
    max-height: 20%;
    max-width: 90%;
    height: 20vh;
    font-family: Raleway;
    font-weight: bold;
    font-size: calc(14px + 0.5vw);
    overflow: hidden;

    padding: 2vw;
    padding-bottom: 0.5vw;
}
.input_container{
    display:flex;
    flex-direction: column;
    background-color: white;
    
}

.input_container p{
    padding-left: 2vw;
    
}
.input {
    font-size: calc(14px + 0.01vw);
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-top: 1vw;
    height: 30%;
}

.column{
    display:flex;
    flex-direction: column;
    width: 30vw;
    gap: 1vw;
}

.column div{
    display:flex;
    flex-direction: column;
}

.column p{
    padding: 0;
    margin: 0;
    visibility: hidden;
    font-size: calc(14px + 0.01vw);
    color: red;
   
    
}
input{
    width: 20vw;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    padding: 6px;
    border-color: lightgray;
}

.confirm{
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 2vw;
}
.confirm p{
    font-size:calc(8px + 0.5vw);
}

input:invalid{
    border-color: red;
}
input.error{
    border-color: red;
}

input.error:focus{
    border-color: blue;
    outline: none;
}


.column input:focus{
    border-color: blue;
    outline: none;
}

button{
    width: 12vw;
    height: 3vw;
 
    border-radius: 5px;
    background-color: rgb(244, 210, 148);
    font-family: Raleway;
    font-weight: bold;
    font-size:calc(8px + 0.5vw);
    border: 1px;
}

button:hover {
    background-color: rgb(255, 190, 92);
  }
