@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

body{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin: 0;

}

.photo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    
}
#alpaca{
    min-width: max(40vw, 67vh);
    min-height:100vh;
    

    
}

.logo{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    top: 50vh;
    height: 20vh;
    min-height: 150px;
    width: 40vw;
    background-color: rgba(0,0,0,.5); 
    font-family: Norse, Raleway, Arial, Helvetica, sans-serif;
    font-size: max(120px, calc(20vh));
    color:white;
}

#odin{
    max-height: 100%;
}

.credit{
    font-family: Raleway;
    font-weight: bold;
    position:absolute;
    color: white;
    bottom: 3vh;
}

a{  
    color: white;
    text-decoration-color: white;
}

.sign-up{
    width: 60vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    overflow: hidden;
}

.inspiration{
    max-height: 30%;
    max-width: 100%;
    height: 20vh;
    font-family: Raleway;
    font-weight: bold;
    font-size: calc(16px + 1vw);
    padding: 1vw;
}
